body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: rgb(250, 150, 22);
}

img{
    max-width: 100%;
}

.container-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagina{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagina-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  2px solid white;
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagina-item:hover{
    transform: scale(2);
}

.pagina-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 900ms;
}

.pagina-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagina .pagina-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(100% * 1), 0, 0;
}

input[id="2"]:checked ~ .pagina .pagina-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(100% * 2), 0, 0;
}

input[id="3"]:checked ~ .pagina .pagina-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(100% * 3), 0, 0;
}

input[id="4"]:checked ~ .pagina .pagina-item[for="4"]{
    background: #fff;
}

input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(100% * 4), 0, 0;
}

input[id="5"]:checked ~ .pagina .pagina-item[for="5"]{
    background: #fff;
}

@keyframes autoplay{
    20%{
        transform: translate(calc(-100% * 0));

    }

    40%{
        transform: translate(calc(-100% * 1));
        
    }

    60%{
        transform: translate(calc(-100% * 2));
        
    }

    80%{
        transform: translate(calc(-100% * 3));
        
    }

    100%{
        transform: translate(calc(-100% * 4));
        
    }
}